:root {
    --sidebar-background: #F9F3EC;
    --foreground: #334D4D;
    --background: #F3E3D8;
    --dark-btn-color: #2D3034;
    --save-btn-color: #8C1212;
}

body {
    background-color: var(--background);
    font-family: "Slabo 27px";
}

/* Header styling */
.note-header {
    border-bottom: 2px solid var(--foreground);
    margin-bottom: 2rem;
}

.note-heading, .note-footer {
    text-align: center;
    color: var(--foreground);
}

.navbar-default {
    color: var(--foreground);
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

/* Text area styling */
#note-input {
    width: 100%;
    background-color: var(--sidebar-background);
    border-radius: 2px;
    padding: 5px;
    margin: 1.5rem 0 1.5rem;
    resize: none;
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
}

/* Button styling */
.btn-color {
    background-color: var(--foreground);
}

.dark-btn {
    background-color: var(--dark-btn-color);
}

.cancel-btn {
    background-color: var(--save-btn-color);
}

.btn-style {
    color: white;
    border: 0;
    padding: 1rem;
    border-radius: 13px;
}

.top-btn {
    display: flex;
    justify-content:space-between;
}

.bot-btn {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

/* My notes styling */
.my-notes-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    color: var(--foreground);
    list-style: none;
    padding-bottom: 15%;
}

/* Footer Styling */
.footer-icon {
    mix-blend-mode: multiply;
}

/* Starting desktop styling */
@media screen and (min-width: 600px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 17% 1fr 1fr;
    }

    /* Desktop header style, main note section and footer style */
    .navbar-default {
        justify-content: flex-end;
        gap: 1rem;
    }

    .grid-style {
        grid-column: 2/3;
        border: 0;
    }

    /* Desktop my notes styling */
    .my-notes {
        background-color: var(--sidebar-background);
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        left: 0;
        margin-left: -5px;
    }

    .my-notes-list {
        flex-direction: column;
        padding-left: 45px;
        list-style: square;
    }
}