:root {
    --text-color: #293D3D;
    --sidebar-background: #F9F3EC;
    --background: #F3E3D8;
    --general-btn-color: #334D4D;
    --dark-btn-color: #464B53;
    --save-btn-color: #951313;
}

/* javascript dark mode styling */
.dark-mode {
    --text-color: #FFFFFF;
    --sidebar-background: #323232;
    --background: #292929;
    --general-btn-color: #182525;
    --dark-btn-color: #090A0B;
    --save-btn-color: #5a0b0b;
}

/* javascript view mode styling */
.visible {
    /* Using !important to override default display value */
    display: block !important;
}

.hidden {
    /* Using !important to override default display value */
    display: none !important;
}

body {
    background-color: var(--background);
    font-family: "Slabo 27px";
    height: 100vh;
}

/* Header styling */
.note-header {
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 1.5rem;
}

.note-heading,
.note-footer {
    text-align: center;
    color: var(--text-color);
}

.navbar-default {
    color: var(--text-color);
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

/* Text area styling */
#note-input {
    width: 100%;
    background-color: var(--sidebar-background);
    border-radius: 2px;
    padding: 5px;
    margin: 1.5rem 0 1.5rem;
    resize: none;
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
}

/* Button styling */
.btn-color {
    background-color: var(--general-btn-color);
}

.dark-btn {
    background-color: var(--dark-btn-color);
}

.cancel-btn {
    background-color: var(--save-btn-color);
}

.btn-style {
    color: white;
    border: 0;
    padding: 1rem;
    border-radius: 13px;
    cursor: pointer;
}

.top-btn {
    display: flex;
    justify-content: space-between;
}

.bot-btn {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

/* My notes styling */
.my-notes-list {
    display: flex;
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    padding-bottom: 2%;
}

/* Link styles for my notes and navbar */
.link-style a {
    color: var(--text-color);
    text-decoration: none;
}

/* Starting desktop styling */
@media screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 16% 1fr 1fr;
    }

    /* Desktop header style, main note section and footer style */
    .navbar-default {
        justify-content: flex-end;
        gap: 1rem;
    }

    .grid-style {
        grid-column: 2/3;
        border: 0;
    }

    /* Desktop my notes styling */
    .my-notes {
        background-color: var(--sidebar-background);
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        left: 0;
        margin-left: -5px;
    }

    .my-notes-list {
        align-items: flex-start;
        list-style: square;
        padding-left: 45px;
    }
}